@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html{
  margin: none;
  padding: none;
}

body {
  margin: 0;
  padding: 0;
}

.container1{
  background-color: black;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
}

.title {
  width: 100%;
  height: 200px;
  background-image: url("../static/images/homepage_banner_v3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.separator {
  height: 20px;
}




@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  50% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0.1;
  }

}
.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;
}

.background {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 101%;
  font-family: Arial;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
  width: 50%;
  height: 7rem;
  margin: 0.5rem;
  box-shadow: 0.5rem black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 0rem 1rem 2rem
}

.background div{
  white-space: pre-line;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  color: black;
}

.name-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  background: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 3rem;
}
.content {
  width: 40%;
  border-radius: 1rem;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  margin: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.date {
  background: none;
  width: 40%;
  padding: 5px 10px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date p {
  width: 100%;
  display: flex;
  padding: 0.3rem;
}

.delete-container {
  width: 100%;
  display: block;

  
}
.delete {  
  float: right;
  background-color: red;
  color: white;
  padding: 6px 11px;
  border: none;
  border-radius: 10px;
  border: 2px solid red;
  box-sizing: border-box;
}


.delete:hover {
  box-sizing: border-box;
  background-color: white;
  color: red;
  cursor: pointer;
}

.exit-container {
  width: 100%;
  background: none;
  padding: 1rem;
  
}

.exit-container button {
  color: white;
  border-radius: 50px;
  padding: 10px;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.exit-container button:hover {
  background-color: #4a4a49;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  z-index: 1000;
}

.submission-portal {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.submission-portal a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  text-decoration: none;
  color: inherit;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  width: 310px;
}

.submission-portal p {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.submission-portal .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 5px;
  transition: transform 0.4s ease-in-out;
}

.submission-portal img {
  height: 3rem;
  
}

.submission-portal a:hover .img-container {
  transform: translateX(-400%);
}

.submission-portal a:hover p {
  opacity: 1;
}
